body {
    color: #165695;
}
.btnDelete{
    width:30%;
}
input[type=button]:hover {
    background-color: #acacf4 !important;
}

input[type=text]{
    border: 0.5px solid #17a2b8 !important;
    border-radius:3px;
}

#demoModal{
    display:none;
}

.area{
    margin-left:28px;
}
.year{
    margin-left:32px;
}
.name{
    margin-left:19px;
}
.length {
    margin-left: 13px;
}
.header {
    text-decoration: underline;
}

h1{
    margin: 0 !important;
    padding:0;
}